<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log In</mat-card-title>
    </mat-card-header>

    <form [formGroup]="authForm" (ngSubmit)="submitForm()" class="example-form" *ngIf="!isRequestedOTP">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="userName" >
          <mat-error *ngIf="authForm.controls.userName.invalid">This is required Field!!</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile Number" formControlName="mNumber" >
          <mat-error *ngIf="authForm.controls.mNumber.invalid"> This is required Field!! </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password"  type='password' formControlName="password">
          <mat-error *ngIf="authForm.controls.password.invalid"> This is required Field!! </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select [(value)]="selected" formControlName="userType">
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>



      <button mat-stroked-button color="accent" class="btn-block" [disabled]="this.authForm.touched && this.authForm.invalid">Request OTP</button>

    </form>

      <form [formGroup]="authOTPForm" (ngSubmit)="submitOTPForm()" class="example-form"  *ngIf="isRequestedOTP">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="OTP" formControlName="otp" >
            <mat-error *ngIf="authOTPForm.controls.otp.invalid">This is required Field!!</mat-error>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" [disabled]="this.authOTPForm.touched && this.authOTPForm.invalid">Submit OTP</button>
      </form>


  </mat-card>
</div>
